a{
    color: inherit;
}

#games{
    color: purple;
}

html{
    background-color: rgb(22, 21, 21);
}

header{
    font-size: x-large;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}